ACTION=="add", KERNEL=="sd*|vd*", ENV{DEVTYPE}=="disk", ENV{ID_PART_TABLE_TYPE}!="gpt", RUN+="/bin/systemctl --no-block restart rsc-format-disk@%k.service"
ACTION=="add", KERNEL=="vd[b-z][0-9]", ENV{DEVTYPE}=="partition", ENV{ID_PART_TABLE_TYPE}="gpt", SUBSYSTEMS=="block", TAG+="systemd", RUN+="/bin/systemctl --no-block restart rsc-mount-disk@%k.service"
ACTION=="remove", KERNEL=="vd[b-z][0-9]", ENV{DEVTYPE}=="partition", SUBSYSTEMS=="block", RUN+="/bin/systemctl --no-block restart rsc-mount-disk@%k.service"
