[Unit]
Description=Formats and mounts Research Cloud Disk
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/bin/bash /opt/rsc-utilities/disk_handler_rsc.sh

[Install]
WantedBy=multi-user.target

