[Unit]
Description=Formats Research Cloud Disk on %i
OnSuccess=rsc-mount-disk@%i1.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=/opt/rsc-utilities/format_rsc_disk.sh %I