[Unit]
Description=Mount/Unmount Research Cloud Disk on %i

[Service]
StartLimitBurst=10
Type=forking
GuessMainPID=no
ExecStart=bash -x /opt/rsc-utilities/automount_rsc_disk.sh %I